/* General Styles */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    background: linear-gradient(to bottom, #4f72af, #d57474);
    color: #333;
    margin: 0;
    padding: 0;
}

/* Card Container */
.card {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Headings */
h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #2a7ae4;
    margin-bottom: 20px;
    line-height: 1.4;
}

/* Paragraphs */
p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 15px 0;
}

/* Hover Effect for Exercises */
p:hover {
    background: #f0f8ff;
    border-left: 4px solid #2a7ae4;
    padding-left: 15px;
    transition: background 0.3s ease, padding-left 0.3s ease;
}

.cta-button {
    position: relative; 
    margin-top: 10px; 
    margin-left: 0; 
    padding: 10px 20px;
    font-size: 18px;
    color: #080606;
    background-color: #7a7a7a;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.cta-button:hover {
    background-color: #555;
}

.cta-button.clicked{
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1rem;
    }
}
